body {
    margin: 0;
    font-family: Martel Sans, Open Sans, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 144px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #aaa;
  }

  .logo {
    height: 70px;
    margin-top: 16px;
  }

  .header-left {
    float: left;
  }

  .header-left h1 {
    line-height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(156, 18, 0);
  }

  .header-right {
      float: right;
  }

  .header-right a:hover {
    color: rgba(31,133,255,0.5);
  }

  .header-right a {
      line-height: 100px;
      padding-left: 25px;
      padding-right: 25px;
      display: block;
      font-weight: 800;
      transition: all 0.5s;
      color: rgb(214, 87, 3);
  }
footer img {
  width: 50px;
}

footer p {
  color: #ffffff;
  font-size: 12px;
}

footer {
  height:144px;
  padding-top: 10px;
  padding-bottom:10px;
  background-color:rgba(34, 49, 52, 0.9);
  text-align:center;
}
footer h2{
  color:white;
  font-family:Helvetica;
  margin-bottom: -5px;
  margin-top:-5px;
}
.Main-Sidebar{
    background-color:blue;
    height:480px;
}
